<h1>Template-Driven Form</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
 <div>
    <label for="nome">Nome:</label>
    <input id="nome" name="nome" type="text" ngModel required>
 </div>
 <div>
    <label for="telefone">Telefone:</label>
    <input id="telefone" name="telefone" type="tel" ngModel required>
 </div>
 <div>
    <label for="endereco">Endereço:</label>
    <input id="endereco" name="endereco" type="text" ngModel required>
 </div>
 <div>
    <button type="submit" [disabled]="f.form.invalid">Gravar</button>
 </div>
</form>
